a 
{background-color:wheat;
        padding:40px;
        border:40px;
        margin:30px;
        display:inline-block;
}
p{
        font-family: georgia;
        font-family: 100px;
        color: black;
        font-size:20px;
        
}

.grid {
  display: grid;
  border: 2px blue solid;
  width: 350px;
  height: 400px;
}

.column{ 
float: left;
width: 50%;
}

.home{
       width= 40%
       height= 40%
        rotate 90 degrees clockwise
}
.grid-container {
  grid-row-gap: 50px;
  grid-column-gap: 20px ;
  display: grid;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.photos{width:300px;height:300px;
}

#grid-container{
   grid-template:500px 500px 500px/500px 500px 500px;
    display:grid;
    width:1000;
    height:1000;
    
}
.grid-item{
 width:500px;
 height:500px;
}

h1{
 text-size: medium
         {
